<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="LOG_LEVEL" source="logging.level.root" scope="context"/>
    <springProperty name="SERVICE_NAME" source="spring.application.name" scope="context"/>
    <springProperty name="PROFILE" source="spring.profiles.active" scope="context"/>
    <property name="LOG_PATH" value="${LOG_PATH:-./logs}"/>
    <property name="LOG_FILE" value="${LOG_FILE:-app}"/>
    <property name="MAX_HISTORY" value="${LOGBACK_ROLLINGPOLICY_MAX_HISTORY:-2}"/>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] [%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%-5level] [%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}] [${SERVICE_NAME}] [${PROFILE}] [%thread] %logger - %msg%n</pattern>
        </encoder>
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="FILE_APPENDER"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

</configuration>
